.body {
  background-color: #101426;
  color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #1c223c;
  /* border: 1px solid #000; */
  padding: 10px 30px;
}

.logo {
  height: 5rem;
  border-radius: 50%;
}

.nav-items ul {
  display: flex;
  list-style: none;
}

.nav-items ul li {
  padding: 10px 30px;
  /* margin: 10px; */
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.res-card {
  width: 250px;
  /* height: 500px; */
  border-radius: 5px;
  /* background-color: #1c223c;
  box-shadow: 0 5px 20px #020204; */
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  margin: 10px;
  color: #908d8d;
}

.res-card:hover {
  background-color: #1c223c;
  box-shadow: 0 5px 20px #080910;
}

.search {
  padding: 20px;
}

.res-logo {
  /* margin: 10px; */
  height: 15rem;
  width: 100%;
  border-radius: 5px;
}

.filter-btn {
  margin: 10px;
  cursor: pointer;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #101426;
}

.shimmer-card {
  margin: 20px;
  width: 250px;
  height: 450px;
  border-radius: 5px;
  background-color: #1c223c;
}

.login {
  padding: 10px 20px;
  cursor: pointer;
}
